*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;;
}


#card{
    margin-bottom: 5vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #0892a5;
    padding-top: 1rem;
    align-self: center;
    text-align: center;
    width: 30vw;
    height: 60vh;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

#inptText{
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem ;
    border-radius: 0.2rem;
    width: 24vw;
}

textarea{
    padding-left: .7rem;
    padding-right: .3rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.2rem;
    padding: 0.1rem;
    margin-top: 1rem;
    width: 25vw;
    height: 30vh;
}

#criar_btn{
    background-color: #4F345A;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-top: 1.5rem ;
    font-size: 1rem;
    width: 12vw;
    height: 8vh;
    color: white;
}

#center{
    clear: both;
    width: 15vw;
    height: 10vh;
    border-radius: 0.4rem;
    background-color: red;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    margin-top: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#apagar_tudo{
    cursor: pointer;
    font-size: 2rem;
    align-self: center;
    color: white;
    text-decoration: none;

}
